registry=https://registry.npmjs.org/

# DWP private package registry
@dwp:registry=https://gitlab.com/api/v4/projects/cfems-fraud-referral-capture/packages/npm/. 

# Authentication token (keep this line!)
# Replace YOUR_TOKEN below with your real token
//gitlab.com/api/v4/projects/funeral-expense-citzen/packages/npm/:_authToken=PASTE-ACCESS-TOKEN

strict-ssl=false
cafile=/etc/ssl/cert.pem
always-auth=true