{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      Fraud Referral Capture (FRC) prototypes
    </h1>

    
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              First prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <dl>
              <dt class="govuk-heading-s">Date created</dt>
              <dt class="govuk-body">October 2025</dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s"><a href="https://lucid.app/lucidspark/2a781330-b819-411c-a533-5e884fc8ece6/edit?viewport_loc=20361%2C-4360%2C8905%2C4592%2C0_0&invitationId=inv_1af8c4f1-c58a-4e5a-9811-a443a1375b3f">Lucid board</a></dt>
            </dl>
            <dl>
              <dt class="govuk-heading-s">What it is</dt>
              <dt class="govuk-body">First protoype for revisions and improvements to the existing <a href="https://www.gov.uk/report-benefit-fraud">Fraud Referral Capture form</a>.</dt>
            </dl>

            <a href="prototype1/start" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>
    
    </div>


  </div>

 
</div>

{% endblock %}
