{% extends "layouts/main.html" %}

{% block pageTitle %}
  Additional information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="check-your-answers" method="post">

        
          <h1 class="govuk-heading-l">
           Additional information
          </h1>
 

          {{ govukCharacterCount({
            name: "additional-details",
            id: "additional-details",
            maxlength: 1500,
            rows: "10",
            label: {
              text: "Give any other information about what you think the person is doing? (optional)",
              classes: "govuk-label--m"
            },
            hint: {
              text: "Do not include any of your own personal details"
            }
          }) }}

        
           {{ govukButton({
            text: "Continue"
          }) }}
    

          </form>
      


    </div>
  </div>

{% endblock %}
