{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="fraud-type" method="post">

       <h1 class="govuk-heading-l">Confirm address</h1>
        <p class="govuk-body">6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="address-search" class="govuk-link">Search again</a></p>

        {{ govukInsetText({
            html: "1 Washington Street<br>Worcester<br>WR1 1NL"
        }) }}

        {{ govukButton({
            text: "Use this address"
        }) }}

        <p class="govuk-body">
            <a href="address-select" class="govuk-link">Use a different address</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
            <a href="address-manual" class="govuk-link">Enter address manually</a>
        </p>





      </form>

    </div>
  </div>

{% endblock %}
