{% extends "layouts/main.html" %}

{% block pageTitle %}
  Report submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Report submitted"
      }) }}


      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>We will review the information you have given us and decide whether any action should be taken. It can take a long time to do this.</p>

      {{ govukWarningText({
        text: "If you report the same person again it will be automatically rejected.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">
        Responding to your report
      </h2>

      <p>Investigations are confidential and we cannot respond to your report, update you or tell you outcomes.</p>

      <p>We take all reports of benefit fraud seriously.</p>

      <p>Sometimes we do not take any action because: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>they may have declared a change in their circumstances </li>
        <li>their benefit may not be affected by what you have reported</li>
      </ul>

      






 



    </div>
  </div>

{% endblock %}
