{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do not report them again – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do not report them again
      </h1>

      <p>We take all reports seriously. It can take as long as [9 months??] to investigate reports of fraud.</p>

      <p>If you have reported someone before we will already be reviewing the information you provided.</p>

      {{ govukWarningText({
        text: "If you report the same person again it will be automatically rejected.",
        iconFallbackText: "Warning"
      }) }}

         





    </div>
  </div>

{% endblock %}
