{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of fraud do you want to report? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="fraud-types-check" method="post">


          {{ govukCheckboxes({
            name: "fraudtypes",
            values: data["fraudtypes"],
            fieldset: {
              legend: {
                text: "What type of fraud do you want to report?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "working-claiming",
                text: "Working and claiming benefit",
                hint: {
                  text: "Not declaring they are working, or under reporting hours worked or earnings, including cash in hand"
                }
              },
              {
                value: "living-with-partner",
                text: "Living with a partner while claiming to be living alone",
                hint: {
                  text: "A partner could be a husband, wife, civil partner or someone they live with as if they were married or in a civil partnership"
                }
              },
              {
                value: "disability",
                text: "Dishonestly claiming a disability benefit",
                hint: {
                  text: "They do not have the disability they are claiming for"
                }
              },
              {
                value: "Dishonestly claiming a carer's benefit",
                text: "Dishonestly claiming a carer's benefit",
                hint: {
                  text: "They do not provide care but claim to do so, or the person they've said they care for doesn't need it"
                }
              },
              {
                value: "Claiming benefits but not living in the UK",
                text: "Claiming benefits but not living in the UK",
                hint: {
                  text: "Their benefit claim is based on a UK address and they have not told the relevant government department they now live abroad"
                }
              },
              {
                value: "Using a fraudulent identity",
                text: "Using a fraudulent identity",
                hint: {
                  text: "They have claimed a benefit using a false identity or someone else's name, National Insurance number or other personal details"
                }
              },
              {
                value: "Not declaring savings or other non-work related income",
                text: "Not declaring savings or other non-work related income",
                hint: {
                  text: "Non-work related income includes savings, inheritance, winnings, property, pensions or compensation"
                }
              },
              {
                value: "Other type of benefit fraud",
                text: "Other type of benefit fraud"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}
            
</form>



    </div>
  </div>

{% endblock %}
