{% extends "layouts/main.html" %}

{% block pageTitle %}
  About the partner – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="partner-address-branch" method="post">

        <h1 class="govuk-heading-l">About the partner</h1>

          {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--m"
          },
            id: "partner-first-name",
            name: "partner-first-name"
          }) }}


          {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--m"
          },
            id: "partner-last-name",
            name: "partner-last-name"
          }) }}



          <!-- Nicknames -->
          {% set nicknameHtml %}
            {{ govukCharacterCount({
              name: "partner-nick-name",
              id: "partner-nick-name",
              maxlength: 250,
              label: {
                text: "Other names"            }
            }) }}
          {% endset -%}


          {{ govukRadios({
            name: "nickname",
            fieldset: {
              legend: {
                text: "Do you know them by another name?",
                classes: "govuk-fieldset__legend--m"   
              }
            },
            hint: {
              text: "For example nickname, professional name or maiden name"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: nicknameHtml
                }
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
          <!-- End of Nicknames -->



          <!-- Date of Birth -->
          {% set dobHtml %}
            {{ govukDateInput({
              id: "partner-date-of-birth",
              namePrefix: "partner-date-of-birth",
              fieldset: {
                legend: {
                  text: "Date of Birth"
                }
              },
              hint: {
                text: "For example, 27 3 2024"
              }
            }) }}
          {% endset -%}

          {% set approxHtml %}
            {{ govukInput({
              label: {
                text: "Approximate age in years"
              },
              id: "partner-approximate-age",
              classes: "govuk-input--width-4",
              name: "partner-approximate-age"
            }) }}
          {% endset -%}


          {{ govukRadios({
            classes: "govuk-radios",
            name: "dob",
            fieldset: {
              legend: {
                text: "Do you know their date of birth?",
                classes: "govuk-fieldset__legend--m"  
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: dobHtml
                }
              },
              {
                value: "No",
                text: "No",
                conditional: {
                  html: approxHtml
                }
              }
            ]
          }) }}

          <!-- End of Date of Birth -->




            <!-- NiNo -->

            {{ govukInput({
              label: {
                text: "What is their National Insurance Number? (optional)",
                classes: "govuk-label--m"
              },
              hint: {
              text: "For example, ‘QQ 12 34 56 C’"
              },
              id: "partner-national-insurance-number",
              classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
              name: "partner-national-insurance-number"
            }) }}

          <!-- End of NiNo -->





          <!-- Phone -->

          {{ govukInput({
              label: {
                text: "What is their telephone number? (optional)",
                classes: "govuk-label--m"
              },
              id: "partner-phone-number",
              classes: "govuk-input--width-20",
              name: "partner-phone-number",
              type: "tel",
              autocomplete: "tel"
            }) }}

          <!-- End of phone -->






          <!-- Email -->

          {{ govukInput({
              label: {
                text: "What is their email address? (optional)",
                classes: "govuk-label--m"
              },
              id: "partner-email",
              name: "partner-email",
              type: "email",
              autocomplete: "email",
              spellcheck: false
            }) }}

          <!-- End of email -->
           


          {{ govukRadios({
          name: "living-together-duration",
          fieldset: {
            legend: {
              text: "Approximately how long have they been living with the person you're reporting?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Less than 3 months",
              text: "Less than 3 months"
            },
            {
              value: "3 to 6 months",
              text: "3 to 6 months"
            },
            {
              value: "More than 6 months but less than a year",
              text: "More than 6 months but less than a year"
            },
            {
              value: "More than a year",
              text: "More than a year"
            },
            {
              divider: "or"
            },
            {
              value: "I don't know",
              text: "I don't know"
            }
          ]
        }) }}




          {{ govukButton({
            text: "Continue"
          }) }}

    </form>


    </div>
  </div>

{% endblock %}
