{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the partner working? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="partner-working" method="post">

        {{ govukRadios({
          name: "partner-working",
          fieldset: {
            legend: {
              text: "Is the partner working?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "I don't know",
              text: "I don't know"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
