{% extends "layouts/main.html" %}

{% block pageTitle %}
  Select an address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="partner-address-confirm" method="post">

       {{ govukRadios({
        name: "select-partner-address",
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            text: "Select an address",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        formGroup: {
          beforeInputs: {
            html: "<p class='govuk-body'>8 addresses found for <b>WR2 8SX</b>. <a href='partner-address-search' class='govuk-link'>Search again</a></p>"
          }
        },
        items: [
          {
            value: "24 Crompton Street, Worcester, WR2 8SX",
            text: "24 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 1"
            }
          },
          {
            value: "26 Crompton Street, Worcester, WR2 8SX",
            text: "26 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 2"
            }
          },
          {
            value: "28 Crompton Street, Worcester, WR2 8SX",
            text: "28 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 3"
            }
          },
          {
            value: "30 Crompton Street, Worcester, WR2 8SX",
            text: "30 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 4"
            }
          },
          {
            value: "32 Crompton Street, Worcester, WR2 8SX",
            text: "32 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 5"
            }
          },
          {
            value: "34 Crompton Street, Worcester, WR2 8SX",
            text: "34 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 6"
            }
          },
          {
            value: "36 Crompton Street, Worcester, WR2 8SX",
            text: "36 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 7"
            }
          },
          {
            value: "38 Crompton Street, Worcester, WR2 8SX",
            text: "38 Crompton Street, Worcester, WR2 8SX",
            attributes: {
              "data-ga-question": "Select an address",
              "data-ga-answer": "Answer 8"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Use this address"
      }) }}

  <p class="govuk-body govuk-!-margin-bottom-0">
    <a href="partner-address-manual" class="govuk-link">Enter address manually</a>
  </p>


      </form>

    </div>
  </div>

{% endblock %}
