{% extends "layouts/main.html" %}

{% block pageTitle %}
  Report benefit fraud in Scotland – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Report benefit fraud in Scotland
      </h1>

      <p>How you report someone in Scotland depends on the type of benefit they're getting.</p>

      <h2 class="govuk-heading-m">Scottish government benefits</h2>

      <p><a href="dsfsdfsdfsdf">Use myscot.gov to report fraud</a> for the following benefits:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>Five family payments</li>
      <li>Disability benefits</li>
      <li>Carer benefits</li>
      <li>Heating benefits</li>
      <li>Funeral Support Payment</li>
      <li>Job Start Payment</li>
      </ul>

      <h2 class="govuk-heading-m">Other types of benefit</h2>

      <p>We issue the following benefits to people living in Scotland:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>Universal Credit</li>
      <li>Jobseeker's Allowance (JSA)</li>
      <li>Employment and Support Allowance (ESA)</li>
      <li>Income Support</li>
      <li>State Pension</li>
      <li>Pension Credit</li>
      <li>Bereavement Support Payment</li>
      </ul>

      <p>You can continue to <a href="dsfsdfsdfsdfsdf">report fraud of these benefits on GOV.UK.</a></p>

      <!--<p>How you report someone in Scotland depends on the type of benefit they're getting.</p>

      <h2 class="govuk-heading-m">
        Scottish government benefits
      </h2>

      <p><a href="https://www.mygov.scot/benefit-fraud">Use myscot.gov to report fraud</a> for the following benefits:</p>

       <h3 class="govuk-heading-s">
        Five family payments
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.mygov.scot/best-start-grant-best-start-foods">Best Start Grant and Best Start Foods</a>
          <ul class="govuk-list govuk-list--bullet">
            <li>Pregnancy and Baby Payment</li> 
            <li>Early Learning Payment</li>
            <li>School Age Payment</li> 
            <li>Best Start Foods</li>
          </ul>
        </li>
        <li><a href="https://www.mygov.scot/scottish-child-payment">Scottish Child Payment</a></li>
      </ul>


      <h3 class="govuk-heading-s">
        Disability benefits
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.mygov.scot/adult-disability-payment">Adult Disability Payment</a></li>
        <li><a href="https://www.mygov.scot/child-disability-payment">Child Disability Payment</a></li>
        <li><a href="https://www.mygov.scot/pension-age-disability-payment">Pension Age Disability Payment</a></li> 
        <li><a href="https://www.mygov.scot/moving-to-scottish-adult-dla">Scottish Adult Disability Living Allowance</a></li>
      </ul>


      <h3 class="govuk-heading-s">
        Carer benefits
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.mygov.scot/carers-allowance-supplement">Carer’s Allowance Supplement</a></li>
        <li><a href="https://www.mygov.scot/carer-support-payment">Carer Support Payment</a></li>
        <li><a href="https://www.mygov.scot/young-carer-grant">Young Carer Grant</a></li>
      </ul>


      <h3 class="govuk-heading-s">
        Heating benefits
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.mygov.scot/child-winter-heating-payment">Child Winter Heating Payment</a></li>
        <li><a href="https://www.mygov.scot/pension-age-winter-heating-payment">Pension Age Winter Heating Payment</a></li>
        <li><a href="https://www.mygov.scot/winter-heating-payment">Winter Heating Payment</a></li>
      </ul>


      <h3 class="govuk-heading-s">
        Other benefits
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.mygov.scot/funeral-support-payment">Funeral Support Payment</a></li>
        <li><a href="https://www.mygov.scot/funeral-support-payment">Job Start Payment</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        All other benefits
      </h2>

      
      <p>If the benefit fraud you want to report is not listed above, you can continue to <a href="reported-before">report all other benefits on GOV.UK</a>.</p>

    -->

    </div>
  </div>

{% endblock %}
