{% extends "layouts/main.html" %}

{% block pageTitle %}
  The person you're reporting - their work – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="living-together-redirect" method="post">





    <h1 class="govuk-heading-l">
      The person you're reporting - their work
    </h1>
  


  
    {{ govukCharacterCount({
      name: "working-claming-type-of-work",
      id: "working-claming-type-of-work",
      maxlength: 100,
      label: {
        text: "What type of work do you think they are doing?",
        classes: "govuk-label--m"
      }
    }) }}


    {{ govukInput({
      label: {
        text: " Name of the business or employer they work for",
        classes: "govuk-label--m"
      },
      id: "working-claming-employer-business-name",
      name: "working-claming-employer-business-name"
    }) }}


    {{ govukCharacterCount({
      name: "working-claming-address-location-employer-business",
      id: "working-claming-address-location-employer-business",
      maxlength: 100,
      label: {
        text: " Address or location of the business or employer they work for",
        classes: "govuk-label--m"
      }
    }) }}



      {{ govukRadios({
          name: "benefits-duration",
          fieldset: {
            legend: {
              text: "Approximately how long have they been claiming benefits?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Less than 3 months",
              text: "Less than 3 months"
            },
            {
              value: "3 to 6 months",
              text: "3 to 6 months"
            },
            {
              value: "More than 6 months but less than a year",
              text: "More than 6 months but less than a year"
            },
            {
              value: "More than a year",
              text: "More than a year"
            },
            {
              divider: "or"
            },
            {
              value: "I don't know",
              text: "I don't know"
            }
          ]
        }) }}



        {{ govukInput({
          label: {
            text: "What time do they usually leave for work? (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 9am or 2:30pm - enter 12pm for midday"
          },
          classes: "govuk-input--width-5",
          id: "leave-for-work",
          name: "leave-for-work"
        }) }}



        {{ govukInput({
          label: {
            text: "What time do they usually come back from work? (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 9am or 2:30pm - enter 12pm for midday"
          },
          classes: "govuk-input--width-5",
          id: "back-from-work",
          name: "back-from-work"
        }) }}

  
        {{ govukInput({
          label: {
            text: "How many hours do you think they work per week? (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-5",
          id: "hours-per-week",
          name: "hours-per-week"
        }) }}




        {% set vehicleHtml %}
          {{ govukCharacterCount({
            name: "vehicle-details",
            id: "vehicle-details",
            maxlength: 250,
            label: {
              text: "Vehicle details"
            },
            hint: {
              text: "Make and model, colour and registration number if known"
            }
          }) }}
        {% endset -%}


        {{ govukRadios({
          classes: "govuk-radios",
          name: "travel-in-vehicle",
          fieldset: {
            legend: {
              text: "Do they travel to work in a vehicle?",
              classes: "govuk-fieldset__legend--m"      }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: vehicleHtml
              }
            },
            {
              value: "No",
              text: "No",
              conditional: {
                html: approxHtml
              }
            }
          ]
        }) }}




        {{ govukCheckboxes({
          name: "work-status",
          fieldset: {
            legend: {
              text: "What do you think their work status is?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Working for somebody",
              text: "Working for somebody"
            },
            {
              value: "Working for themselves",
              text: "Working for themselves"
            },
            {
              value: "Cash in hand",
              text: "Cash in hand"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

  
    </form>


    </div>
  </div>

{% endblock %}
